<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Note Taking App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div class="container" id="login-section">
    <form method="POST" action="{{ url_for('home') }}">
        <h2>Login</h2>
        <input type="text" id="username" name = "username" placeholder="Username" />
        <input type="password" id="password" name = "password" placeholder="Password" />
        <button id="login-btn">Login</button>
        <p>Login if you are teacher:   <a href="#"> Log In</a></p>

    </form>
  </div>

</body>
</html>
