<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "POST" action = "{{ url_for('home')}}">
        <h1></h1>
        <input type="text" name = "username" placeholder="username">
        <h1></h1>
        <input type="password" name="password" placeholder="password">
        <h1></h1>
        <input type="submit" value = "Login">
    </form>

    <h1>File Upload</h1>
    <form method="POST" action = "{{ url_for('file') }}" enctype="multipart/form-data">
        <input type="file" name = "file" accept="text/plain" required="required">
        <input type="submit" value = "Upload file">
    </form>

    <h1>Convert</h1>
    <form method="POST" action="{{ url_for('convert') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept="text/plain" required="required">
        <input type="submit" value="Upload file">
    </form>

    <h1>Download</h1>
    <form method="POST" action="{{ url_for('download') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept="text/plain" required="required">
        <input type="submit" value="Upload file">
    </form>

</body>
</html>